<a href="https://gitlab.com/pashioya/spring-proj-t3" th:fragment="gitLab (content)">
    <button class="btn btn-primary" type="button">
        Gitlab
    </button>
</a>


<a th:fragment="createSong (content)" th:href="@{'/allSongs/album/' + ${content} + '/addSong'}">
    <button class="btn btn-primary" type="button">
        Create Song
    </button>
</a>


<a href="/allArtists/addArtist" sec:authorize="hasRole('ADMIN')" th:fragment="createArtist (content)">
    <button class="btn btn-primary" type="button">
        Create Artist
    </button>
</a>


<a th:fragment="createAlbum (content)" th:href="@{'/allAlbums/artist/' + ${content} + '/addAlbum'}">
    <button class="btn btn-primary" type="button">
        Create Album
    </button>
</a>

<a class="btn btn-danger delete-button" th:fragment="deleteSong (content)">
    <button class="btn btn-danger" type="button">Delete Song</button>
</a>

<a th:fragment="printSong (content)">
    <button class="btn btn-primary disabled" type="button">Print Song</button>
</a>

<a class="btn btn-danger delete-button" th:fragment="deleteAlbum (content)">
    <button class="btn btn-danger" type="button">Delete Album</button>
</a>


<a class="btn btn-primary" th:fragment="printAlbum (content)">
    <button class="btn btn-primary disabled" type="button">Print Album</button>
</a>

<a class="btn btn-danger delete-button" th:fragment="deleteArtist (content)">
    <button class="btn btn-danger" type="button">Delete Artist</button>
</a>
<a class="btn btn-primary" th:fragment="printArtist (content)">
    <button class="btn btn-primary disabled" type="button">
        Print Artist
    </button>
</a>

<a th:fragment="pageHistory (content)" th:href="${'/pageHistory'}">
    <button class="btn btn-primary" type="button">Page History</button>
</a>