<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer-parts</title>
</head>
<body>
<a href="https://gitlab.com/pashioya/spring-proj-t3" th:fragment="gitLab (content)">
    <button class="btn btn-primary" type="button">
        Gitlab
    </button>
</a>


<button class="btn btn-primary" data-bs-target="#create-song-modal" data-bs-toggle="modal"
        th:fragment="createSong (content)"
        type="button">
    Create Song
</button>


<button class="btn btn-primary" data-bs-target="#create-artist-modal" data-bs-toggle="modal"
        sec:authorize="hasRole('ADMIN')"
        th:fragment="createArtist (content)" type="button">
    Create Artist
</button>


<button class="btn btn-primary" data-bs-target="#create-album-modal" data-bs-toggle="modal"
        th:fragment="createAlbum (content)"
        type="button">
    Create Album
</button>


<a class="btn btn-danger delete-button" th:fragment="deleteSong (content)">
    <button class="btn btn-danger" type="button">Delete Song</button>
</a>

<a th:fragment="printSong (content)">
    <button class="btn btn-primary disabled" type="button">Print Song</button>
</a>

<a class="btn btn-danger delete-button" th:fragment="deleteAlbum (content)">
    <button class="btn btn-danger" type="button">Delete Album</button>
</a>


<a class="btn btn-primary" th:fragment="printAlbum (content)">
    <button class="btn btn-primary disabled" type="button">Print Album</button>
</a>

<a class="btn btn-danger delete-button" th:fragment="deleteArtist (content)">
    <button class="btn btn-danger" type="button">Delete Artist</button>
</a>
<a class="btn btn-primary" th:fragment="printArtist (content)">
    <button class="btn btn-primary disabled" type="button">
        Print Artist
    </button>
</a>

<a th:fragment="pageHistory (content)" th:href="${'/pageHistory'}">
    <button class="btn btn-primary" type="button">Page History</button>
</a>
</body>
</html>