
<header th:fragment="header (list)">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/">Song Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto" id="navbarText">
            <li class="navbar-nav" th:each="item : ${list}" th:replace="~{fragments/fragment_parts/header-parts}"></li>
          </ul>
        </div>
      </div>
    </nav>
</header>