<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head (${title})}"></head>
<body>
<header th:replace="~{fragments/header :: header (${headerList})}"></header>
<section>
    <form method="post" class="row g-3 needs-validation" id="add-album-form" novalidate>
        <div class="col-md-4">
            <label for="albumName" class="form-label"> albumName</label>
            <input type="text" name="albumName" id="albumName" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please submit a valid album name.
            </div>
        </div>
        <div class="col-md-4">
            <label for="albumStatus" class="form-label">albumStatus</label>
            <select name="albumStatus" id="albumStatus" class="form-select" required>
                <option value="" disabled>Select Your Option</option>
                <option value="ALBUM">Album</option>
                <option value="SINGLE">Single</option>
                <option value="EP">EP</option>
                <option value="COMPILATION">Compilation</option>
                <option value="UNKNOWN" selected >Unknown</option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label for="officialTrackCount" class="form-label">officialTrackCount</label>
            <input type="number" name="officialTrackCount" id="officialTrackCount" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a valid number.
            </div>
        </div>
        <div class="col-md-4">
            <label for="genre" class="form-label" >genre</label>
            <input type="text" name="genre" id="genre" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a valid genre.
            </div>
        </div>
        <div class="col-md-4">
            <label for="releaseDate" class="form-label">ReleaseDate(MM/DD/YYYY)</label>
            <input type="date" name="releaseDate" id="releaseDate" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a valid date.
            </div>
        </div>
<!--        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">-->
<!--            <p>The form contained errors!</p>-->
<!--        </div>-->
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    </form>
</section>
<footer th:replace="~{fragments/footer :: footer (${footerList})}"></footer>
<script th:src="@{/js/forms/addAlbum.js}"></script>
</body>
<script src="/js/forms/addAlbum.js"></script>
</html>