<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head (${title})}"></head>
<body>
<header th:replace="~{fragments/header :: header (${headerList})}"></header>
<section>
    <div class="table-caption">
        <h1>All Artists</h1>
    </div>
    <table class='table table-bordered table-condensed table-striped table-hover'>
        <thead class="table-header">
            <th >artistName</th>
            <th >artistFollowers</th>
<!--            <th >favoriteGenre</th>-->
        </thead>
        <tbody>
            <tr class="table-row" th:each="artist: ${artists}" th:data-href="${'/allArtists/fullArtist/' + artist.getId()}">
                <td th:text="${artist.getArtistName()}"></td>
                <td th:text="${artist.getArtistFollowers()}"></td>
<!--                <td th:text="${artist.getFavoriteGenre()}"></td>-->
            </tr>
        </tbody>
    </table>
        <div class="pagination">

            <div class="page-viewer__button" th:if="${arPageNumbers > 1}">
                <a th:href="${'/allArtists/firstPage'}" class="page-viewer__button__link">First</a>
            </div>
            <div class="page-viewer__button" th:if="${arPageNumbers > 1}">
                <a th:href="${'/allArtists/previousPage'}" class="page-viewer__button__link">Previous</a>
            </div>
<!--            current page viewer div-->
            <div class="page-viewer__button">
                <spam class="page-viewer__button__link" th:text="${arPageNumbers}"></spam>
            </div>
            <div class="page-viewer__button" th:if="${arPageNumbers < totalPages - 1}">
                <a th:href="${'/allArtists/nextPage'}" class="page-viewer__button__link">Next</a>
            </div>

            <div class="page-viewer__button" th:if="${arPageNumbers < totalPages - 1}">
                <a th:href="${'/allArtists/lastPage'}" class="page-viewer__button__link">Last</a>
            </div>
        </div>
</section>
<footer th:replace="~{fragments/footer :: footer (${footerList})}"></footer>
</body>
</html>
