<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head (${title})}">
</head>
<script defer th:src="@{/js/allPages/bundle-artist.js}"></script>
<script defer th:src="@{/js/forms/bundle-addArtist.js}"></script>
<body>
<header th:replace="~{fragments/header :: header (${headerList})}"></header>
<section>
    <div class="table-caption">
        <h1>All Artists</h1>
    </div>
    <div class="tables-container">
        <div class="preview-block ">
            <div class="preview-block__title">
                Artist Preview
            </div>
            <div class="preview-block__table">
                <table class="table table-bordered table-condensed table-striped table-hover">
                    <thead class="table-header">
                    <th>Album Names</th>
                    </thead>
                    <tbody id="preview-album-names">
                    </tbody>
                </table>
            </div>
        </div>
        <table class='table table-bordered table-condensed table-striped table-hover' id="all-artists-table">
            <thead class="table-header">
            <th>artistName</th>
            <th>artistFollowers</th>
            </thead>
            <tbody id="all-artists-table-body">
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="create-artist-modal-label" class="modal fade" id="create-artist-modal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="create-artist-modal-label">Create Artist</h1>
                    <button aria-label="Close" class="btn-close modal-close-btn" data-bs-dismiss="modal"
                            type="button"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3 needs-validation" id="add-artist-form" novalidate>
                        <div class="col-md-4">
                            <label class="form-label" for="artistName">artistName</label>
                            <input class="form-control" id="artistName" name="artistName" required type="text">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="artistFollowers"> artistFollowers</label>
                            <input class="form-control" id="artistFollowers" name="artistFollowers" required
                                   type="text">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-primary" id="create-artist-submit" type="submit" value="submit">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{fragments/footer :: footer (${footerList})}"></footer>
</body>
</html>
