<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head (${title})}"></head>
<script defer th:src="@{/js/bundle-album.js}" type="module"></script>
<body>
<header th:replace="~{fragments/header :: header (${headerList})}"></header>
<section>
    <div class="table-caption">
        <h1>All Albums</h1>
    </div>
    <div class="tables-container">
        <div class="preview-block ">
            <div class="preview-block__title">
                Album Preview
            </div>
            <div class="preview-block__table">
                <table class="table table-bordered table-condensed table-striped table-hover">
                    <thead class="table-header">
                    <th>Song Name</th>
                    </thead>
                    <tbody id="preview-song-names">
                    </tbody>
                </table>
            </div>
        </div>
        <table class='table table-bordered table-condensed table-striped table-hover ' id="all-albums-table">
            <thead class="table-header">
            <th>albumName</th>
            <th>officialTrackCount</th>
            <th>albumStatus</th>
            <th>genre</th>
            <th>releaseDate</th>
            </thead>
            <tbody id="all-albums-table-body">
            <tr class="table-row entity" th:attr="data-href='/allAlbums/fullAlbum/' + ${album.id}"
                th:each="album : ${albums}">
                <td th:text="${album.albumName}"></td>
                <td th:text="${album.officialTrackCount}"></td>
                <td th:text="${album.albumStatus}"></td>
                <td th:text="${album.genre}"></td>
                <td th:text="${album.releaseDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<footer th:replace="~{fragments/footer :: footer (${footerList})}"></footer>
</body>
</html>
