<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head (${title})}"></head>
<body id="full" class="pb-5">
<header th:replace="~{fragments/header :: header (${headerList})}"></header>
<script defer th:src="@{/js/fullAlbum.js}"></script>
<section>
    <table class='table table-bordered table-condensed table-striped table-hover'>
        <thead class="table-header">
        <th>All Artists</th>
        </thead>
        <tbody>
        <tr class="table-row" th:each="artist : ${album.getArtists()}" th:data-href="${'/allArtists/fullArtist/' + artist.getId()}">
            <td th:text="${artist.getArtistName()}"></td>
        </tr>
        </tbody>
    </table>
    <div class="album-item">
        <span>Created By: </span>
        <span th:text="${album.getUser()}"></span>
    </div>
    <div class="album-item">
        <span>Album Name: </span>
        <span th:text="${album.getAlbumName()}"></span>
    </div>
    <div class="album-item">
        <span>Release Date</span>
        <span th:text="${album.getReleaseDate()}"></span>
    </div>
    <div class="album-item">
        <span>Genre: </span>
        <span th:text="${album.getGenre()}"></span>
    </div>
    <div class="album-item">
        <span>Track Count: </span>
        <span th:text="${album.getOfficialTrackCount()}"></span>
    </div>
    <div class="album-item">
        <span>Album Status: </span>
        <span th:text="${album.getAlbumStatus()}"></span>
    </div>
    <div class="table-caption">
        <h1>Albums Songs</h1>
    </div>
    <table class='table table-bordered table-condensed table-striped table-hover'>
        <thead class="table-header">
            <th class="row-item">songURL</th>
            <th class="row-item">songName</th>
            <th class="row-item">trackNumber</th>
            <th class="row-item">DurationMS</th>
            <th class="row-item">Explicit?</th>
        </thead>
        <tbody>
            <tr class="table-row" th:each="song : ${album.getSongs()}" th:data-href="${'/allSongs/fullSong/' + song.getId()}">
                <td class="row-item" th:text="${song.getUrl()}"></td>
                <td class="row-item" th:text="${song.getSongTitle()}"></td>
                <td class="row-item" th:text="${song.getTrackNumber()}"></td>
                <td class="row-item" th:text="${song.getDurationMS()}"></td>
                <td class="row-item" th:text="${song.isExplicit()}"></td>
            </tr>
        </tbody>
    </table>

</section>
<footer th:replace="~{fragments/footer :: footer (${footerList})}"></footer>
</body>
</html>