<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head (${title})}"></head>
<body class="pb-5" id="full">
<header th:replace="~{fragments/header :: header (${headerList})}"></header>
<script defer th:src="@{/js/fullAlbum.js}"></script>
<section>
    <table class='table table-bordered table-condensed table-striped table-hover' id="albums-artist-table">
        <thead class="table-header">
        <th>All Artists</th>
        </thead>
        <tbody id="album-artistsList">
        </tbody>
    </table>
    <div class="album-item">
        <span>Created By: </span>
        <span id="album-username"></span>
    </div>
    <div class="album-item">
        <span>Album Name: </span>
        <span id="album-albumName"></span>
    </div>
    <div class="album-item">
        <span>Release Date</span>
        <span id="album-releaseDate"></span>
    </div>
    <div class="album-item">
        <span>Genre: </span>
        <span id="album-genre"></span>
    </div>
    <div class="album-item">
        <span>Track Count: </span>
        <span id="album-officialTrackCount"></span>
    </div>
    <div class="album-item">
        <span>Album Status: </span>
        <span id="album-albumStatus"></span>
    </div>
    <div class="table-caption">
        <h1>Albums Songs</h1>
    </div>
    <table class='table table-bordered table-condensed table-striped table-hover'>
        <thead class="table-header">
        <th class="row-item">songName</th>
        <th class="row-item">trackNumber</th>
        <th class="row-item">Explicit?</th>
        </thead>
        <tbody id="album-songsList">
        </tbody>
    </table>
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="create-song-modal-label" class="modal fade" id="create-song-modal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="create-song-modal-label">Create Song</h1>
                    <button aria-label="Close" class="btn-close modal-close-btn" data-bs-dismiss="modal"
                            type="button"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3 needs-validation" id="add-song-form" method="post" novalidate>
                        <div class="col-md-4">
                            <label class="form-label" for="url">url</label>
                            <input class="form-control" id="url" name="url" required type="text">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="songTitle"> Title</label>
                            <input class="form-control" id="songTitle" name="songTitle" required type="text">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="trackNumber">Track Number</label>
                            <input class="form-control" id="trackNumber" name="trackNumber" required type="number">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="durationMS">~duration in MS</label>
                            <input class="form-control" id="durationMS" name="durationMS" required type="number">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="explicit">Explicit?</label>
                            <select class="form-select" id="explicit" name="explicit" required>
                                <option selected value="true">Explicit</option>
                                <option value="false">Not Explicit</option>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" value="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{fragments/footer :: footer (${footerList})}"></footer>
</body>
</html>