<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head (${title})}"></head>
<script defer th:src="@{/js/fullSong.js}"></script>
<body>
<header th:replace="~{fragments/header :: header (${headerList})}"></header>
<section>
    <div class="song-item">
        <span>Created By: </span>
        <span th:text="${song.getUser()}"></span>
    </div>
    <div class="song-item">
        <span>URL: </span>
        <span th:text="${song.getUrl()}"></span>
    </div>
    <div class="song-item">
        <span>Song Name: </span>
        <span th:text="${song.getSongTitle()}"></span>
    </div>
    <div class="song-item">
        <span>Track Number: </span>
        <span th:text="${song.getTrackNumber()}"></span>
    </div>
    <div class="song-item">
        <span>Duration MS: </span>
        <span th:text="${song.getDurationMS()}"></span>
    </div>
    <div class="song-item">
        <span>Explicit?: </span>
        <span th:text="${song.isExplicit()}"></span>
    </div>
</section>
<footer th:replace="~{fragments/footer :: footer (${footerList})}"></footer>
</body>
</html>