<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments/head :: head (${title})}"></head>
<script defer th:src="@{/js/fullArtist.js}"></script>
<body>
<header th:replace="~{fragments/header :: header (${headerList})}"></header>
<section>
    <div class="artist-item">
        <span>Created By: </span>
        <span id="artist-username"></span>
    </div>
    <div class="artist-item">
        <span>Artist Name: </span>
        <span id="artist-name"></span>
    </div>
    <div class="artist-item">
        <span>Artist Followers: </span>
        <span id="artist-followers"></span>
    </div>
    <div class="table-caption">
        <h1>Artists Albums</h1>
    </div>
    <table class='table table-bordered table-condensed table-striped table-hover' id="albums-table">
        <thead class="table-header">
        <th>albumName</th>
        <th>officialTrackCount</th>
        <th>albumStatus</th>
        <th>genre</th>
        <th>releaseDate</th>
        </thead>
        <tbody id="albums-table-body">
        </tbody>
    </table>
</section>
<footer th:replace="~{fragments/footer :: footer (${footerList})}"></footer>
</body>
</html>