<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="~{fragments/meta :: meta (${title})}"></thymeleaf>
    <script defer th:src="@{/js/bundle-fullSong.js}" type="module"></script>
</head>
<body>
<header th:replace="~{fragments/header :: header (${headerList})}"></header>
<section>
    <div class="song-item">
        <span>Created By: </span>
        <span id="song-user"></span>
    </div>
    <div class="song-item">
        <span>Song Name: </span>
        <span id="song-title"></span>
    </div>
    <div class="song-item">
        <span>Track Number: </span>
        <span id="song-track-number"></span>
    </div>
    <div class="song-item">
        <span>Duration MS: </span>
        <span id="song-duration-ms"></span>
    </div>
    <div class="song-item">
        <span>Explicit?: </span>
        <span id="song-explicit"></span>
    </div>
    <div class="song-item">
        <span>URL: </span>
        <span id="song-url"></span>
    </div>
</section>
<footer th:replace="~{fragments/footer :: footer (${footerList})}"></footer>
</body>
</html>