<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head (${title})}"></head>
  <body>
  <div class="index-containers">
    <a href="/allSongs">
      <button type="button" class="btn btn-secondary btn-lg">All Songs</button>
    </a>
    <a href="/allAlbums">
      <button type="button" class="btn btn-secondary btn-lg">All Albums</button>
    </a>
    <a href="/allArtists">
      <button type="button" class="btn btn-secondary btn-lg">All Artists</button>
    </a>
    <a href="/pageHistory">
      <button type="button" class="btn btn-secondary btn-lg">Page History</button>
    </a>
    <a href="/login">
      <button type="button" class="btn btn-secondary btn-lg">login</button>
    </a>
  </div>
  </body>

</html>