<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="${title}"></title>
    <thymeleaf th:replace="~{fragments/meta :: meta (${title})}"></thymeleaf>
</head>
<body>
<div class="index-containers min-vh-100 h-100 w-100 d-flex justify-content-center align-items-center align-content-center">
    <div class="col text-center">
        <a href="/allSongs">
            <button class="btn btn-secondary btn-lg" type="button">All Songs</button>
        </a>
        <a href="/allAlbums">
            <button class="btn btn-secondary btn-lg" type="button">All Albums</button>
        </a>
        <a href="/allArtists">
            <button class="btn btn-secondary btn-lg" type="button">All Artists</button>
        </a>
        <a href="/pageHistory">
            <button class="btn btn-secondary btn-lg" type="button">Page History</button>
        </a>
        <a href="/allUsers" sec:authorize="hasRole('ROLE_ADMIN')">
            <button class="btn btn-secondary btn-lg" type="button">All Users</button>
        </a>
        <a href="/addSongs" sec:authorize="hasRole('ROLE_ADMIN')">
            <button class="btn btn-secondary btn-lg" type="button">Add Bulk Songs</button>
        </a>
        <a href="/login">
            <button class="btn btn-secondary btn-lg" type="button">login</button>
        </a>
    </div>
</div>
</body>

</html>